In [1]:
import pandas as pd

In [2]:
WeatherDF = pd.read_csv("RichmondWeather.csv")
WeatherDF

           DATE  HIGH  LOW   WIND  RAIN  SNOW
0      7/1/2017    92   75  11.18  0.00   0.0
1      7/2/2017    89   72   4.92  0.15   0.0
2      7/3/2017    93   71   4.25  0.00   0.0
3      7/4/2017    91   71   3.58  0.01   0.0
4      7/5/2017    90   72   4.92  0.49   0.0
...         ...   ...  ...    ...   ...   ...
1457  6/27/2021    90   72   7.38  0.00   0.0
1458  6/28/2021    90   71   7.16  0.00   0.0
1459  6/29/2021    93   72   7.83  0.00   0.0
1460  6/30/2021    96   72  10.51  0.00   0.0
1461   7/1/2021    96   71   8.72  1.04   0.0

[1462 rows x 6 columns]

In [9]:
WeatherDF.to_json("weatherdata.json", orient='records')

In [20]:
SalesDF = pd.read_csv("../../data_archive/cleanSales.csv")
SalesDF

           Date     Location Check_Ave     Sales  Item_Count
0      7/1/2017          ETC     10.45    613.81       175.0
1      7/2/2017          ETC      9.18    695.18       223.0
2      7/3/2017     Passport      7.63     674.8       212.0
3      7/3/2017  Post Office     10.11    171.76        20.0
4      7/3/2017       Tylers      7.87    720.75       191.0
...         ...          ...       ...       ...         ...
6561  6/29/2021  Post Office      3.41     20.44         6.0
6562  6/29/2021          ETC      9.23  1,069.35       305.0
6563  6/30/2021  Post Office     22.05    176.39        11.0
6564   7/1/2021  Post Office      11.8        59         5.0
6565   7/1/2021          ETC     15.74  1,523.94       418.0

[6566 rows x 5 columns]

In [32]:
SortedSalesDF = pd.read_csv("../../data_archive/SortedcleanSales.csv")
SortedSalesDF

      Date     Location Check_Ave     Sales  Item_Count    Year
0      7/1          ETC     10.45    613.81       175.0  1718.0
1      7/2          ETC      9.18    695.18       223.0  1718.0
2      7/3     Passport      7.63     674.8       212.0  1718.0
3      7/3  Post Office     10.11    171.76        20.0  1718.0
4      7/3       Tylers      7.87    720.75       191.0  1718.0
...    ...          ...       ...       ...         ...     ...
6561  6/29  Post Office      3.41     20.44         6.0  2021.0
6562  6/29          ETC      9.23  1,069.35       305.0  2021.0
6563  6/30  Post Office     22.05    176.39        11.0  2021.0
6564   NaN          NaN       NaN       NaN         NaN     NaN
6565   NaN          NaN       NaN       NaN         NaN     NaN

[6566 rows x 6 columns]

In [34]:
SortedSalesDF.dropna
SortedSalesDF

      Date     Location Check_Ave     Sales  Item_Count    Year
0      7/1          ETC     10.45    613.81       175.0  1718.0
1      7/2          ETC      9.18    695.18       223.0  1718.0
2      7/3     Passport      7.63     674.8       212.0  1718.0
3      7/3  Post Office     10.11    171.76        20.0  1718.0
4      7/3       Tylers      7.87    720.75       191.0  1718.0
...    ...          ...       ...       ...         ...     ...
6561  6/29  Post Office      3.41     20.44         6.0  2021.0
6562  6/29          ETC      9.23  1,069.35       305.0  2021.0
6563  6/30  Post Office     22.05    176.39        11.0  2021.0
6564   NaN          NaN       NaN       NaN         NaN     NaN
6565   NaN          NaN       NaN       NaN         NaN     NaN

[6566 rows x 6 columns]

In [22]:
SalesDF.to_json("salesdata.json", orient='records')

In [35]:
SortedSalesDF.to_json("Sortedsalesdata.json", orient='records')

In [6]:
SalesDF.to_html("sales_table")

In [4]:
CoordsDF = pd.read_csv("LocationCoords.csv")
CoordsDF

      Location      Lat     Long
0        Lou's  37.5787 -77.5352
1     Passport  37.5792 -77.5370
2       Cellar  37.5757 -77.5388
3         8:15  37.5771 -77.5385
4          ETC  37.5750 -77.5404
5       Tylers  37.5765 -77.5387
6  Concessions  37.5806 -77.5388

In [5]:
CoordsDF.to_json("Coords.json", orient='records')